<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

    <bean id="secUserDetailsService" class="com.g.sys.sec.service.GUserDetailsService"/>

    <!-- 启用注解 -->
    <sec:global-method-security pre-post-annotations="enabled" jsr250-annotations="enabled"/>

    <sec:authentication-manager>
        <sec:authentication-provider user-service-ref="secUserDetailsService">
            <sec:password-encoder ref="passwordEncoder"/>
        </sec:authentication-provider>
    </sec:authentication-manager>

    <sec:http pattern="/resources/**" security="none"/>
    <sec:http pattern="/vendors/**" security="none"/>

    <sec:http>
        <sec:intercept-url pattern="/login.view" access="permitAll"/>
        <sec:intercept-url pattern="/403.view" access="permitAll"/>
        <sec:intercept-url pattern="/404.view" access="permitAll"/>
        <sec:intercept-url pattern="/error.view" access="permitAll"/>
        <sec:intercept-url pattern="/sys/usr/reset-pwd.view" access="permitAll"/>
        <sec:intercept-url pattern="/sys/usr/profile.view" access="isAuthenticated()"/>
        <sec:intercept-url pattern="/sys/usr/save-profile.view" access="isAuthenticated()"/>
        <sec:intercept-url pattern="/sys/usr/change-pwd.view" access="isAuthenticated()"/>
        <sec:intercept-url pattern="/sys/usr/save-pwd.view" access="isAuthenticated()"/>
        <sec:intercept-url pattern="/**" access="isAuthenticated()"/>
        <sec:form-login login-page="/login.view" authentication-failure-url="/login.view?error"
                        default-target-url="/blank.view"/>
        <sec:remember-me/>
        <sec:logout logout-url="/logout" logout-success-url="/login.view?logout" invalidate-session="false"
                    delete-cookies="JSESSIONID"/>
        <sec:session-management invalid-session-url="/login.view?invalidSession"/>
        <sec:csrf/>
    </sec:http>
</beans>
