<!-- basic scripts -->
<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='vendors/jquery-mobile/jquery.mobile-1.4.2.min.js'>"+"<"+"/script>");
</script>
<script src="vendors/bootstrap/bootstrap.min.js"></script>
<script src="vendors/jquery-cookie/jquery.cookie.min.js"></script>
<script src="vendors/bootbox/bootbox.min.js"></script>

<!-- ace scripts -->
<script src="vendors/ace/ace-extra.min.js"></script>
<script src="vendors/ace/ace-elements.min.js"></script>
<script src="vendors/ace/ace.min.js"></script>

<script src="resources/js/common/commons.js"></script>
<script src="resources/js/common/bootbox.extend.js"></script>
