<!-- 如果有日期初始化语句，须放在初始化后面include本页面 -->
<link rel="stylesheet" href="plugin/date-time/bootstrap-datepicker/css/bootstrap-datepicker3.css"/>
<script src="plugin/date-time/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="plugin/date-time/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="plugin/date-time/moment/moment.min.js"></script>
<script src="plugin/date-time/moment/locale/zh-cn.js"></script>
<script type="text/javascript" src="biz_js/common/datepicker-common.js"></script>
