[#import "/views/common/menu_item.html" as menu]
[@menu.menu]

[@menu.top name="系统管理" icon="fa fa-cogs"]
    [@menu.item url="sys/dict_category/index.view"]系统字典类型管理[/@menu.item]
    [@menu.item url="sys/dict/index.view"]系统字典管理[/@menu.item]
    [@menu.item url="sys/dict/file_type/index.view"]文件类型字典管理[/@menu.item]
    [@menu.item url="sys/usr/index.view"]用户管理[/@menu.item]
[/@menu.top]

[@sec.authorize access="hasRole('ADMIN')"]
[@menu.top name="用户管理" icon="fa fa-users"]
    [@menu.item url="sys/usr_msg/load.view?page=sys/user_msg_list"]站内信管理[/@menu.item]
    [@menu.item url="sys/log/load.view?page=sys/log_list"]系统操作日志管理[/@menu.item]
    [@menu.item url="sys/column/load.view?page=sys/article_column_list"]系统文章栏目管理[/@menu.item]
    [@menu.item url="sys/article/load.view?page=sys/article_list"]系统文章管理[/@menu.item]
    [@menu.item url="sec/user/load.view?page=sec/user_list"]用户列表[/@menu.item]
    [@menu.item url="operator/group/load.view?page=operator/operator_group_list"]操作员组列表[/@menu.item]
[/@menu.top]
[@menu.top name="订单管理" icon="glyphicon glyphicon-list-alt"]
	 [@menu.item url="order/load.view?page=order/order_list_all"]订单列表[/@menu.item]
[/@menu.top]
[@menu.top name="商品管理" icon="fa fa-gavel"]
    [@menu.item url="game/load.view?page=game/game_channel"]渠道管理[/@menu.item]
    [@menu.item url="game/load.view?page=game/game_list"]游戏库[/@menu.item]
    [@menu.sub name="商品发布"]
	    [@menu.item url="prd/release/load.view?page=prd/release_list&category=SCH"]首充号商品[/@menu.item]
	    [@menu.item url="prd/release/load.view?page=prd/release_list&category=SCHXC"]首充号续充商品[/@menu.item]
	    [@menu.item url="prd/release/load.view?page=prd/release_list&category=ZH"]账号商品[/@menu.item]
	    [@menu.item url="prd/release/load.view?page=prd/release_list&category=DJ"]道具商品[/@menu.item]
	    [@menu.item url="prd/release/load.view?page=prd/release_list&category=LB"]礼包商品[/@menu.item]
    <!-- [@menu.item url="prd/release/load.view?page=prd/release_list&category=DC"]代充商品[/@menu.item]
    [@menu.item url="prd/release/load.view?page=prd/release_list&category=DL"]代练商品[/@menu.item] -->
    [/@menu.sub]
    [@menu.sub name="王者荣耀专区管理"]
    	[@menu.item url="prd/honour_of_kings_hero/load.view?page=prd/honour_of_kings_hero_list"]英雄设置[/@menu.item]
    	[@menu.item url="prd/honour_of_kings_skin/load.view?page=prd/honour_of_kings_skin_list"]皮肤商品[/@menu.item]
    [/@menu.sub]
    [@menu.sub name="商品操作"]
	    [@menu.item url="prd/review/load.view?page=prd/review_list"]审核[/@menu.item]
	    [@menu.item url="prd/manage/load.view?page=prd/product_list"]商品[/@menu.item]
	    [@menu.item url="prd/log/load.view?page=prd/operation_log_list"]操作日志[/@menu.item]
    [/@menu.sub]
[/@menu.top]
[@menu.top name="网站用户管理" icon="fa fa-users"]
    [@menu.item url="su/usr/load.view?page=su/usr_list"]用户列表[/@menu.item]
    [@menu.item url="su/usr/load.view?page=seller/usr_seller_list"]卖家列表[/@menu.item]
[/@menu.top]
[/@sec.authorize]
[@sec.authorize access="hasRole('ROLE_ORDER')"]
[@menu.top name="订单管理" icon="fa fa-inbox"]
	 [@menu.item url="order/load.view?page=order/grab_order_list"]订单列表[/@menu.item]
	 [@menu.item url="order/load.view?page=order/seller_order_list"]待发货订单列表[/@menu.item]
[/@menu.top]
[/@sec.authorize]
[@menu.top name="样例页面" icon="fa fa-inbox"]
     [@menu.item url="blank.view"]空白页面[/@menu.item]
[/@menu.top]
[/@menu.menu]