[#import "/views/common/base.html" as base] [@base.page]
<!-- PAGE CONTENT BEGINS -->
<div class="col-md-10 col-md-offset-1">
    <div class="error-container">
        <div class="center">
            <img src="resources/img/access-denied.jpg" />
        </div>
        <hr>
        <div class="space"></div>
        <h4 class="lighter smaller">亲，您似乎没有权限访问这页面哦，或许您试试其它的？</h4>
        <div class="space"></div>
        <hr>
        <div class="space"></div>
        <div class="center">
            <a href="javascript:history.back()" class="btn btn-grey">
                <i class="ace-icon fa fa-arrow-left"></i> 回 退
            </a>

            <a href="" class="btn btn-primary">
                <i class="ace-icon fa fa-home"></i> 首 页
            </a>
        </div>
    </div>
</div>
<!-- PAGE CONTENT ENDS -->
[/@base.page]
