@CHARSET "UTF-8";

/* 条件查询form各个控件统一大小 */
form.fix-input-size input,
form.fix-input-size select {
    width: 188px;
    height: 34px;
}

select {
    height: 34px;
}

input[readonly].show {
    color: #393939;
    background: #FFFFFF !important;
    cursor: default;
}

textarea[readonly].show {
    color: #393939;
    background: #FFFFFF !important;
    cursor: default;
}

.radio-inline {
    position: relative;
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* jqgrid调整 */

/* dialog */
.ui-jqdialog.ui-jqgrid-jquery-ui {
    padding: 0;
}

.ui-jqdialog .ui-jqdialog-titlebar-ltr .ui-jqdialog-titlebar-close {
    width: 1.4em;
    height: 1.4em;
    right: .3em;
    margin: -.7em 0 0 0;
    position: absolute;
    cursor: pointer;
}

.ui-jqdialog-content select.FormElement {
    height: 34px;
}

.ui-jqdialog-content .CaptionTD {
    font-size: 13px;
    font-weight: 400;
    padding-right: 12px;
    width: 30%
}

.ui-jqdialog-content .DataTD input,
.ui-jqdialog-content .DataTD select,
.ui-jqdialog-content .DataTD textarea
{
    width: 90%
}

.ui-jqdialog .fm-button {
    padding: .25em .6em;
}

.ui-jqdialog-content td.navButton {
    padding: 5px 10px;
}

.ui-jqdialog-content td.navButton-ltr > .fm-button.ui-state-disabled {
    opacity: .6;
}

/* 表头 */
.ui-jqgrid .ui-jqgrid-labels {
    border-bottom: none;
    /*background: #F0F0F0 none repeat-x;*/
    filter: none;
    padding: 0 !important;
    border-left: 1px solid #E1E1E1 !important;
}

.ui-jqgrid .ui-jqgrid-labels th {
    border-left: 1px solid #E1E1E1 !important;
    border-right: 0px none !important;
    text-align: center !important;
}

.ui-jqgrid .s-ico {
    position: absolute;
    width: auto;
    height: auto;
    margin: 0;
    right: .125rem;
}

.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels > th.jqgh_cbox {
    padding-top: 10px;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 合并表头加下边框 */
.ui-jqgrid .ui-jqgrid-labels th.ui-th-column-header {
    border-bottom: 1px solid #E1E1E1 !important;
}

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    margin-top: 3px;
}

.ui-jqgrid-table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #FAFAFA;
    opacity: 1;
}

.ui-jqgrid .ui-jqgrid-hdiv,
.ui-jqgrid-sortable {
    color: #666;
}

/* 导入jquery-ui的几个样式，以支持jqgrid的弹框调整大小 */
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.table-bordered.solid-1 th,
.table-bordered.solid-1 td {
    border: 1px solid #000 !important;
}
