@CHARSET "UTF-8";

/* Fix: 调整Bootstrap与Ace展示菜单把手的屏幕大小统一为991以下 */
@media (max-width: 991px) {
    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 992px) {
    .navbar-toggle {
        display: none;
    }
}

/* 条件查询form各个控件统一大小 */

input, select {
    height: 34px;
}

form.fix-input-size input,
form.fix-input-size select {
    width: 188px;
}

form.fix-input-size input[readonly].show,
form.fix-input-size textarea[readonly].show {
    color: #393939;
    background: #FFFFFF !important;
    cursor: default;
}

form.fix-input-size .radio-inline {
    position: relative;
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-inline.fix-input-size > .btn,
.form-inline.fix-input-size > .chosen-container > .chosen-single {
    margin-top: -3px;
}

.form-inline.fix-input-size > .chosen-container > .chosen-single {
    height: 34px;
    line-height: 32px;
    border: 1px solid #D5D5D5;
}

/* jqgrid调整 */

/* dialog */
.ui-jqdialog.ui-jqgrid-jquery-ui {
    padding: 0;
}

.ui-jqdialog .ui-jqdialog-titlebar-ltr .ui-jqdialog-titlebar-close {
    width: 1.4em;
    height: 1.4em;
    right: .3em;
    margin: -.7em 0 0 0;
    position: absolute;
    cursor: pointer;
}

.ui-jqdialog-content select.FormElement {
    height: 34px;
}

.ui-jqdialog-content .CaptionTD {
    font-size: 13px;
    font-weight: 400;
    padding-right: 12px;
    width: 25%
}

.ui-jqdialog-content .DataTD input,
.ui-jqdialog-content .DataTD select,
.ui-jqdialog-content .DataTD textarea {
    width: 90%
}

.ui-jqdialog .fm-button {
    padding: .25em .6em;
}

.ui-jqdialog-content td.navButton {
    padding: 5px 10px;
}

.ui-jqdialog-content td.navButton-ltr > .fm-button.ui-state-disabled {
    opacity: .6;
}

/* 表头 */
.ui-jqgrid .ui-jqgrid-labels {
    border-bottom: none;
    background-image: none;
    filter: none;
    padding: 0 !important;
    border-left: 1px solid #E1E1E1 !important;
}

th[aria-selected=true] {
    background-image: none;
}

.ui-jqgrid .ui-jqgrid-labels th {
    border-left: 1px solid #E1E1E1 !important;
    border-right: 0px none !important;
    text-align: center !important;
}

.ui-jqgrid .s-ico {
    position: absolute;
    width: auto;
    height: auto;
    margin: 0;
    right: .125rem;
}

.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels > th.jqgh_cbox {
    padding-top: 4px;
}

.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels > th.jqgh_cbox > div {
    padding-bottom: 0;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 合并表头加下边框 */
.ui-jqgrid .ui-jqgrid-labels th.ui-th-column-header {
    border-bottom: 1px solid #E1E1E1 !important;
}

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    margin-top: 3px;
}

.ui-jqgrid-table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #FAFAFA;
    opacity: 1;
}

.ui-jqgrid .ui-jqgrid-hdiv,
.ui-jqgrid-sortable {
    color: #666;
}

.ui-jqgrid .ui-jqgrid-pager {
    border-top: 0 !important;
}

/* 导入jquery-ui的几个样式，以支持jqgrid的弹框调整大小 */
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 12px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.table-bordered.solid-1 th,
.table-bordered.solid-1 td {
    border: 1px solid #000 !important;
}

/* 调整chosen，展示扁平化 */
.chosen-container-multi .chosen-choices li.search-choice {
    border-radius: 2px !important;
    background-image: none !important;
}
