<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.g.sys.mc.mapper.SysColumnMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.redis.RedisCache"/>-->
    <cache/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.g.sys.mc.model.SysColumn">
        <id column="id" property="id" />
        <result column="cname" property="cname" />
        <result column="curl" property="curl" />
        <result column="parent_id" property="parentId" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cname, curl, parent_id AS parentId, state
    </sql>

</mapper>
