[#import "/views/common/base.html" as base]
[@base.page]

<p>
<div class="row">
    <div class="col-xs-4">
        <button id="jqg_add" class="btn btn-success btn-sm" type="button" data-url="rest/sys/dict_category/add"
                data-token="${_csrf.token}">
            <i class="ace-icon glyphicon glyphicon-plus"></i> 新建
        </button>
        <button id="jqg_del" class="btn btn-sm btn-danger" type="button" data-url="rest/sys/dict_category/del"
                data-token="${_csrf.token}">
            <i class="ace-icon glyphicon glyphicon-trash"></i> 删除
        </button>
    </div>
</div>
</p>

[#include "/views/common/grid-table.html"/]

<script type="text/javascript">
    $(function() {
        $("#grid-table").grid({
            url : "rest/sys/dict_category/page",
            delUrl : "rest/sys/dict_category/del",
            editUrl : "rest/sys/dict_category/edit",
            token: "${_csrf.token}",
            colModel : [ {
                label : '',
                name : 'id',
                key : true,
                hidden : true,
                editable : true
            }, {
                label : '字典类型名',
                name : 'name',
                editable : true,
                editrules : {
                    required : true
                }
            }, {
                label : '字典编码',
                name : 'code',
                editable : true,
                editrules : {
                    required : true
                }
            }, {
                label : '备注',
                name : 'remark',
                editable : true,
                editrules : {
                    required : true
                }
            }, {
                label : '状态',
                name : 'state',
                editable : true,
                edittype : "select",
                formatter : "fmValidOrInvalid",
                editoptions : {
                    value : getValidOrInvalidOptionsJson
                }
            }, ],
            sortname : 'name',
            sortorder : "desc"
        });
    });
</script>

[/@base.page]
