[#import "/views/common/base.html" as base]

[@base.page]

<link rel="stylesheet" href="vendors/select2/select2.min.css"/>
<link rel="stylesheet" href="resources/css/select2.css"/>
<script src="vendors/select2/select2.min.js"></script>

<div class="widget-box grid-filter">
    <div class="widget-header widget-header-flat">
        <h5 class="widget-title">
            <i class="ace-icon fa fa-search"></i> 条件查询
        </h5>
        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="widget-body" style="display: block;">
        <div class="widget-main no-padding">
            <form id="form" class="form-inline fix-input-size">
                <fieldset>
                    <div class="form-fieldset">
                        <label>用户账号：</label>
                        <input type="text" name="account" maxlength="15"/>
                    </div>
                    <div class="form-fieldset">
                        <label>用户名称：</label>
                        <input type="text" name="username" maxlength="50"/>
                    </div>
                    <div class="form-fieldset">
                        <label>状态：</label>
                        <select name="state">
                            <option value=""></option>
                            [#if status ??][#list status as e]<option value="${e}">${e.description}</option>[/#list][/#if]
                        </select>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button id="btnSearch" class="btn btn-sm btn-info" type="button">
                        <i class="ace-icon glyphicon glyphicon-search"></i> 查询
                    </button>
                    <button id="jqg_add" class="btn btn-success btn-sm" type="button" data-url="rest/sys/usr/add">
                        <i class="ace-icon glyphicon glyphicon-plus"></i> 新建
                    </button>
                    <button id="jqg_del" class="btn btn-sm btn-danger" type="button" data-url="rest/sys/usr/del">
                        <i class="ace-icon glyphicon glyphicon-trash"></i> 删除
                    </button>
                    <button id="btnReset" class="btn btn-sm" type="button">
                        <i class="ace-icon glyphicon glyphicon-refresh"></i> 重置
                    </button>
                </div>
            </form>
        </div>
        <!-- /.widget-main -->
    </div>
    <!-- /.widget-body -->
</div>

[#include "/views/common/grid-table.html"/]

[#import "/views/common/udt.html" as udt]
<script type="text/javascript">
    $(function() {
        $("#grid-table").grid({
            url : "rest/sys/usr/page",
            delUrl : "rest/sys/usr/del",
            editUrl : "rest/sys/usr/edit",
            //        token: _csrf,
            colModel : [ {
                label : '',
                name : 'uid',
                key : true,
                hidden : true,
                editable : true
            }, {
                label : '用户账号',
                name : 'account',
                editable : true,
                editoptions : {
                    maxlength : '15',
                    style : 'width: 200px'
                },
                editrules : {
                    required : true
                }
            }, {
                label : '用户名称',
                name : 'username',
                editable : true,
                editoptions : {
                    maxlength : '50',
                    style : 'width: 200px'
                },
                editrules : {
                    required : true
                }
            }, {
                label : '电子邮箱',
                name : 'email',
                editable : true,
                editoptions : {
                    maxlength : '60',
                    style : 'width: 200px'
                },
                editrules : {
                    required : true,
                    email : true
                }
            }, {
                label : '所属角色',
                name : 'roles',
                hidden : true,
                editable : true,
                edittype : "select",
    			editoptions : {
                    multiple : true,
                    value : [@udt.tojson role '' 'description' /],
                    'data-placeholder' : "请选择...",
                    dataInit : function(elem) {
                        window.setTimeout(function() {
                            $(elem).css('width', '200px').select2({
                                placeholder : "请选择...",
                                allowClear : true
                            });
                        }, 200);
                    }
                },
                editrules : {
                    edithidden : true,
                    required : true,
                }
            }, {
                label : '状态',
                name : 'enabled',
                width : 60,
                align : "center",
                formatter : "fmValidOrInvalid",
                editable : true,
                edittype : "select",
                editoptions : {
                    value : validOrInvalidOptionsJson
                }
            }, ],
            sortname : 'account',
            sortorder : "asc"
        });
        $("#btnSearch").click(function() {
            $("#grid-table").trigger("reloadGrid");
        });
        $("#btnReset").click(function() {
            $("#form")[0].reset();
        });
    });
</script>

[/@base.page]
